### Accessing data with pandas

In [11]:
import pandas as pd

In [12]:
coffee = pd.read_csv('data/warmup-data/coffee.csv')

In [13]:
display(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [14]:
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          14 non-null     object
 1   Coffee Type  14 non-null     object
 2   Units Sold   14 non-null     int64
dtypes: int64(1), object(2)
memory usage: 468.0+ bytes

In [15]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [16]:
coffee.columns

Index(['Day', 'Coffee Type', 'Units Sold'], dtype='object')

In [17]:
# Random data 
coffee.sample(10, random_state=1)

          Day Coffee Type  Units Sold
3     Tuesday       Latte          20
7    Thursday       Latte          30
6    Thursday    Espresso          40
2     Tuesday    Espresso          30
10   Saturday    Espresso          45
4   Wednesday    Espresso          35
1      Monday       Latte          15
12     Sunday    Espresso          45
0      Monday    Espresso          25
13     Sunday       Latte          35

In [18]:
#loc this allows us to filter by rows and colummns of our dataframe
#coffee.loc[#Rows, #columns]
#iloc: this uses indexs to laocate

In [19]:
# Normal syntax
#coffee.loc[[0,1,11], 'Day']

# Slice syntax
#coffee[5:8]
#this stops it befire 8 

# This tops it by ending at 8
coffee.loc[5:8]

         Day Coffee Type  Units Sold
5  Wednesday       Latte          25
6   Thursday    Espresso          40
7   Thursday       Latte          30
8     Friday    Espresso          45

In [20]:
coffee.iloc[1, 1]

'Latte'

In [21]:
coffee.loc[1:3, "Units Sold"] = 20 # set the column to the same digit

In [22]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          20
2    Tuesday    Espresso          20
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [23]:
coffee.iloc[1:4] # 1 is the starter and for is the limit

       Day Coffee Type  Units Sold
1   Monday       Latte          20
2  Tuesday    Espresso          20
3  Tuesday       Latte          20

In [24]:
coffee.at[1, 'Day']# .at for collecting specific data (single)

coffee.iat[1, 0]# langer amount

'Monday'

In [25]:
coffee['Day']

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [26]:
coffee.sort_values("Day", ascending= False) # to sort the dataframe
coffee.sort_values(["Day", "Units Sold"], ascending= False)#  To make it orderly and more than one 
coffee.sort_values(["Units Sold", "Coffee Type"], ascending=[0,1])# type: ignore #  To make it orderly and more than one

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          20
1      Monday       Latte          20
3     Tuesday       Latte          20

In [28]:
for index, row in coffee.iterrows():
    print(index)
    print(row)
    print("\n\n")

0
Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object



1
Day            Monday
Coffee Type     Latte
Units Sold         20
Name: 1, dtype: object



2
Day             Tuesday
Coffee Type    Espresso
Units Sold           20
Name: 2, dtype: object



3
Day            Tuesday
Coffee Type      Latte
Units Sold          20
Name: 3, dtype: object



4
Day            Wednesday
Coffee Type     Espresso
Units Sold            35
Name: 4, dtype: object



5
Day            Wednesday
Coffee Type        Latte
Units Sold            25
Name: 5, dtype: object



6
Day            Thursday
Coffee Type    Espresso
Units Sold           40
Name: 6, dtype: object



7
Day            Thursday
Coffee Type       Latte
Units Sold           30
Name: 7, dtype: object



8
Day              Friday
Coffee Type    Espresso
Units Sold           45
Name: 8, dtype: object



9
Day            Friday
Coffee Type     Latte
Units Sold         35
Name: 9, dtype: object



10
Day            Saturday
Coffee Type    Espresso
Units Sold           45
Name: 10, dtype: object



11
Day            Saturday
Coffee Type       Latte
Units Sold           35
Name: 11, dtype: object



12
Day              Sunday
Coffee Type    Espresso
Units Sold           45
Name: 12, dtype: object



13
Day            Sunday
Coffee Type     Latte
Units Sold         35
Name: 13, dtype: object