#### merging & concatenating data

In [1]:
import pandas as pd

nocs = pd.read_csv('reference/archive/noc_regions.csv')
bios = pd.read_csv('data/bios.csv')

In [2]:
nocs.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [3]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [4]:
nocs['notes'].unique()

array([nan, 'Netherlands Antilles', 'Antigua and Barbuda', 'Australasia',
       'Bohemia', 'Crete', 'Hong Kong', 'Individual Olympic Athletes',
       'Virgin Islands', 'North Borneo', 'Newfoundland',
       'Refugee Olympic Team', 'Serbia and Montenegro',
       'Turks and Caicos Islands', 'Trinidad and Tobago', 'Tuvalu',
       'United Arab Republic', 'Unknown', 'West Indies Federation',
       'North Yemen', 'South Yemen', 'Yugoslavia'], dtype=object)

![0]

[0]: reference/mergeLogic.png

#### This is for the merge arguments below

In [5]:
bios_new = pd.merge(bios, nocs, left_on='born_country', right_on='NOC', how='inner')

In [6]:
bios_new.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,NOC_y,region,notes
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,FRA,France,NaN
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,FRA,France,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,FRA,France,NaN
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,FRA,France,NaN
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,GBR,UK,NaN

In [7]:
bios_new.rename(columns={'region': 'born_country_full'}, inplace=True)

In [8]:
bios_new.head(20)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,NOC_y,born_country_full,notes
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,FRA,France,NaN
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,FRA,France,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,FRA,France,NaN
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,FRA,France,NaN
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,GBR,UK,NaN
5,6,Nicolas Chatelain,1970-01-13,Amiens,Somme,FRA,France,181.0,70.0,NaN,FRA,France,NaN
6,7,Patrick Chila,1969-11-27,Ris-Orangis,Essonne,FRA,France,180.0,73.0,NaN,FRA,France,NaN
7,8,Henri Cochet,1901-12-14,Villeurbanne,Rhône,FRA,France,NaN,NaN,1987-04-02,FRA,France,NaN
8,9,Marcel Cousin,1896-08-04,Nîmes,Gard,FRA,France,NaN,NaN,1986-08-01,FRA,France,NaN
9,10,Guy de la Chapelle,1868-07-16,Farges-Allichamps,Cher,FRA,France,NaN,NaN,1923-08-27,FRA,France,NaN
10,11,"Élie, Comte de Lastours",1874-08-12,Orgeval,Yvelines,FRA,France,NaN,NaN,1932-11-18,FRA,France,NaN
11,12,Max Decugis,1882-09-24,Paris XVIe,Paris,FRA,France,NaN,NaN,1978-09-06,FRA,France,NaN
12,15,Damien Éloi,1969-07-04,Vire,Calvados,FRA,France,165.0,58.0,NaN,FRA,France,NaN
13,16,Adrien Fauchier-Magnan,1873-11-19,Paris VIIIe,Paris,FRA,France,NaN,NaN,1965-08-06,FRA,France,NaN
14,17,Guy Forget,1965-01-04,Casablanca,Casablanca-Settat,MAR,France,189.0,79.0,NaN,MAR,Morocco,NaN
15,18,Jean-Philippe Gatien,1968-10-16,Alès,Gard,FRA,France,178.0,73.0,NaN,FRA,France,NaN
16,19,Maurice Germot,1882-11-15,Vichy,Allier,FRA,France,NaN,NaN,1958-08-06,FRA,France,NaN
17,20,André Gobert,1890-09-30,Paris XVIIe,Paris,FRA,France,NaN,NaN,1951-12-06,FRA,France,NaN
18,21,Pierre Hirsch,1900-11-08,Paris Ie,Paris,FRA,France,NaN,NaN,1942-04-19,FRA,France,NaN
19,22,René Lacoste,1904-07-02,Paris Xe,Paris,FRA,France,NaN,NaN,1996-10-12,FRA,France,NaN

In [9]:
"""
both of these will get u speicy rows wih that u want to find
memorize them especially 'loc' and iloc
query i good too but not better than 'loc' 
"""
bios_new.query('born_country_full == "Nigeria"')
#bios_new = bios_new.loc[(bios_new['born_country_full'] == "Nigeria")]
#bios_new

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,NOC_y,born_country_full,notes
735,1011,Bose Kaffo,1972-12-14,Surulere,Lagos,NGR,Nigeria,165.0,62.0,NaN,NGR,Nigeria,NaN
736,1014,Funke Oshonaike,1975-10-28,Lagos,Lagos,NGR,Nigeria,167.0,59.0,NaN,NGR,Nigeria,NaN
737,1016,Sadiq Abdullahi,1960-02-02,Jos,Plateau,NGR,Nigeria,NaN,NaN,NaN,NGR,Nigeria,NaN
738,1020,Sule Ladipo,1974-04-09,Enugu,Enugu,NGR,Nigeria,180.0,75.0,NaN,NGR,Nigeria,NaN
739,1021,Tony Mmoh,1958-06-14,Enugu,Enugu,NGR,Nigeria,177.0,81.0,NaN,NGR,Nigeria,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108343,145622,Pallas Kunaiyi-Akpanah,1997-07-12,Port Harcourt,Rivers,NGR,Nigeria,NaN,NaN,NaN,NGR,Nigeria,NaN
108349,145642,Josh Okogie,1998-09-01,Lagos,Lagos,NGR,Nigeria,194.0,NaN,NaN,NGR,Nigeria,NaN
108351,145645,Obi Emegano,1993-04-29,Lagos,Lagos,NGR,Nigeria,190.0,NaN,NaN,NGR,Nigeria,NaN
108353,145649,Godwin Olofua,1999-04-18,Lagos,Lagos,NGR,Nigeria,NaN,NaN,NaN,NGR,Nigeria,NaN
109430,147676,Elizabeth Balogun,2000-09-09,Lagos,Lagos,NGR,Nigeria,NaN,NaN,NaN,NGR,Nigeria,NaN

In [10]:
"""
to compare the columns you just merged 

[['NOC_x', 'born_country_full']]<--- adding this to it seperates the exact columns we want to see
                                                                         |
                                                                         |
                                                                         |
                                                                    this below
                                                                         |
                                                                         V
so we dont less and more defined dataset
"""

bios_new[bios_new['NOC_x'] != bios_new['born_country_full']][['NOC_x', 'born_country_full']]

                      NOC_x born_country_full
4                    France                UK
14                   France           Morocco
32            Great Britain                UK
33            Great Britain                UK
34            Great Britain                UK
...                     ...               ...
110630  Trinidad and Tobago          Trinidad
110632                  ROC            Russia
110634                  ROC            Russia
110635                  ROC            Russia
110636                  ROC            Russia

[38349 rows x 2 columns]

In [11]:
"""
this helps to single out a string you want
"""
usa = bios_new[bios_new['born_country'] == 'USA'].copy()
usa[['NOC_y', 'born_country_full','name']]

       NOC_y born_country_full               name
48       USA               USA      Monique Javer
697      USA               USA   Xóchitl Escobedo
698      USA               USA  Angélica Gavaldón
904      USA               USA     Bert Schneider
968      USA               USA         Laura Berg
...      ...               ...                ...
110599   USA               USA     Kristen Santos
110600   USA               USA   Corinne Stoddard
110606   USA               USA      Anna Hoffmann
110609   USA               USA     Alix Wilkinson
110620   USA               USA  Justin Abdelkader

[9641 rows x 3 columns]

In [12]:
"""
this is to single out the string called "keith"
"""
usa[usa['name'].str.contains("keith|fred", case=False)]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,NOC_y,born_country_full,notes
1925,2747,Wilfred Blatherwick,1870-09-19,Black Hawk,Iowa,USA,United States,NaN,NaN,1956-04-07,USA,USA,NaN
1953,2785,Fred Sanderson,1872-07-28,Galesburg,Illinois,USA,United States,NaN,NaN,1928-08-02,USA,USA,NaN
2311,3266,Fred Ingaldson,1932-09-02,Pontiac,Michigan,USA,Canada,190.0,85.0,2011-08-08,USA,USA,NaN
6027,8627,Fred Boylstein,1903-03-16,Ford City,Pennsylvania,USA,United States,NaN,NaN,1972-02-28,USA,USA,NaN
6041,8645,Fred Kolberg,1900-11-13,Anaheim,California,USA,United States,NaN,NaN,1965-05-21,USA,USA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73317,100722,Keith Carney,1970-02-03,Providence,Rhode Island,USA,United States,188.0,93.0,NaN,USA,USA,NaN
80757,110047,Tucker Fredricks,1984-04-16,Janesville,Wisconsin,USA,United States,170.0,66.0,NaN,USA,USA,NaN
86959,117348,Keith Sanderson,1975-02-02,Plymouth,Massachusetts,USA,United States,183.0,95.0,NaN,USA,USA,NaN
93048,124684,Frederico Melo,1987-07-13,Azusa,California,USA,Portugal,188.0,72.0,NaN,USA,USA,NaN
96725,128871,Priscilla Frederick,1989-02-14,New York,New York,USA,Antigua and Barbuda,178.0,68.0,NaN,USA,USA,NaN

In [13]:
bios_new.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,NOC_y,born_country_full,notes
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,FRA,France,NaN
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,FRA,France,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,FRA,France,NaN
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,FRA,France,NaN
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,GBR,UK,NaN

In [14]:
"""
this is to single out any nigerian born in lagos
"""
bios_new.loc[(bios_new['NOC_x'] == "Nigeria") & (bios_new['born_city'] == "Lagos")]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,NOC_y,born_country_full,notes
736,1014,Funke Oshonaike,1975-10-28,Lagos,Lagos,NGR,Nigeria,167.0,59.0,NaN,NGR,Nigeria,NaN
740,1023,Nduka Odizor,1958-08-09,Lagos,Lagos,NGR,Nigeria,182.0,75.0,NaN,NGR,Nigeria,NaN
3271,4768,Ayodele Peters,1957-05-21,Lagos,Lagos,NGR,Nigeria,158.0,64.0,NaN,NGR,Nigeria,NaN
3273,4772,John Dadigi,1950-09-09,Lagos,Lagos,NGR,Nigeria,161.0,54.0,NaN,NGR,Nigeria,NaN
3278,4780,David Izonritei,1963-04-29,Lagos,Lagos,NGR,Nigeria,185.0,91.0,NaN,NGR,Nigeria,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102064,135324,Stanley Amuzie,1996-02-28,Lagos,Lagos,NGR,Nigeria,171.0,85.0,NaN,NGR,Nigeria,NaN
108349,145642,Josh Okogie,1998-09-01,Lagos,Lagos,NGR,Nigeria,194.0,NaN,NaN,NGR,Nigeria,NaN
108351,145645,Obi Emegano,1993-04-29,Lagos,Lagos,NGR,Nigeria,190.0,NaN,NaN,NGR,Nigeria,NaN
108353,145649,Godwin Olofua,1999-04-18,Lagos,Lagos,NGR,Nigeria,NaN,NaN,NaN,NGR,Nigeria,NaN
109430,147676,Elizabeth Balogun,2000-09-09,Lagos,Lagos,NGR,Nigeria,NaN,NaN,NaN,NGR,Nigeria,NaN

In [15]:
nigeria = bios_new[bios_new['born_country'] == 'NGR'].copy()
nigeria['born_city'].unique()

array(['Surulere', 'Lagos', 'Jos', 'Enugu', 'Ilorin', 'Sapele', 'Owo',
       'Mmaku', 'Ibadan', 'Okeho', 'Buguma', 'Benin City', 'Epe',
       'Umuahia', 'Agbor', 'Osogbo', 'Kafanchan', 'Kaduna', 'Abuja',
       'Aba', 'Barkin-Ladi', 'Gboko', 'Owerri', 'Abeokuta',
       'Port Harcourt', 'Warri', 'Kano', 'Orlu', 'Calabar', 'Abavo',
       'Zaria', 'Ogbomosho', 'Ajegunle', 'Shagamu', 'Umuihiokwu Mbaise',
       'Oyo', 'Erinla', 'Akokwa', 'Gongola', 'Emoh Abua', 'Effurun',
       'Kagoro', 'Onitsha', 'Issele-Uku', 'Umukwata', 'Ado Ekiti',
       'Onicha-Ugbo', 'Akure', 'Ikire', 'Uwherun', 'Amator', 'Boki',
       'Kwale', 'Uyo', 'Mgbidi', 'Okpanam', 'Auchi', 'Ughelli', 'Eniwari',
       'Itere', 'Tinubu', 'Song', 'Yenagoa', 'Ilesha', 'Ado Odo', 'Asaba',
       'Mbieri', 'Ekoli', 'Ogidi', 'Ondo', 'Gbanranu', 'Fambo', 'Ijero',
       'Egbo', 'Oginibo', 'Ife', 'Osina', 'Ijebu Ode', 'Uromi', 'Nnewi',
       'Katsina', 'Anyama', 'Turogbene'], dtype=object)

In [16]:
gbr = bios[bios['born_country']=='GBR'].copy()

In [17]:
"""
this is joining the datasets together
"""
new_df = pd.concat([usa, gbr])

In [19]:
results = pd.read_parquet('data/results.parquet')

In [20]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308408 entries, 0 to 308407
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        305807 non-null  float64
 1   type        305807 non-null  object
 2   discipline  308407 non-null  object
 3   event       308408 non-null  object
 4   as          308408 non-null  object
 5   athlete_id  308408 non-null  int64
 6   noc         308407 non-null  object
 7   team        121714 non-null  object
 8   place       283193 non-null  float64
 9   tied        308408 non-null  bool
 10  medal       44139 non-null   object
dtypes: bool(1), float64(2), int64(1), object(7)
memory usage: 23.8+ MB

In [21]:
results.head(30)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
5,1996.0,Summer,Tennis,"Singles, Men (Olympic)",Arnaud Boetsch,2,FRA,None,17.0,True,None
6,1996.0,Summer,Tennis,"Doubles, Men (Olympic)",Arnaud Boetsch,2,FRA,Guillaume Raoux,17.0,True,None
7,1924.0,Summer,Tennis,"Singles, Men (Olympic)",Jean Borotra,3,FRA,None,4.0,False,None
8,1924.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean Borotra,3,FRA,Marguerite Billout,15.0,True,None
9,1924.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean Borotra,3,FRA,René Lacoste,3.0,False,Bronze
10,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jacques Brugnon,4,FRA,None,9.0,True,None
11,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jacques Brugnon,4,FRA,Jean-François Blanchy,4.0,False,None
12,1924.0,Summer,Tennis,"Doubles, Men (Olympic)",Jacques Brugnon,4,FRA,Henri Cochet,2.0,False,Silver
13,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Albert Canet,5,FRA,None,17.0,True,None
14,1912.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Albert Canet,5,FRA,Marguerite Broquedis,3.0,False,Bronze
15,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Albert Canet,5,FRA,Édouard Mény de Marangue,3.0,False,Bronze
16,1992.0,Summer,Table Tennis,"Singles, Men (Olympic)",Nicolas Chatelain,6,FRA,None,33.0,True,None
17,1992.0,Summer,Table Tennis,"Doubles, Men (Olympic)",Nicolas Chatelain,6,FRA,Patrick Chila,17.0,True,None
18,1992.0,Summer,Table Tennis,"Doubles, Men (Olympic)",Patrick Chila,7,FRA,Nicolas Chatelain,17.0,True,None
19,1996.0,Summer,Table Tennis,"Singles, Men (Olympic)",Patrick Chila,7,FRA,None,9.0,True,None
20,1996.0,Summer,Table Tennis,"Doubles, Men (Olympic)",Patrick Chila,7,FRA,Christophe Legoût,9.0,True,None
21,2000.0,Summer,Table Tennis,"Doubles, Men (Olympic)",Patrick Chila,7,FRA,Jean-Philippe Gatien,3.0,False,Bronze
22,2004.0,Summer,Table Tennis,"Singles, Men (Olympic)",Patrick Chila,7,FRA,None,17.0,True,None
23,2008.0,Summer,Table Tennis,"Singles, Men (Olympic)",Patrick Chila,7,FRA,None,49.0,True,None
24,1924.0,Summer,Tennis,"Singles, Men (Olympic)",Henri Cochet,8,FRA,None,2.0,False,Silver
25,1924.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Henri Cochet,8,FRA,Suzanne Lenglen,NaN,False,None
26,1924.0,Summer,Tennis,"Doubles, Men (Olympic)",Henri Cochet,8,FRA,Jacques Brugnon,2.0,False,Silver
27,1924.0,Summer,Tennis,"Singles, Men (Olympic)",Marcel Cousin,9,FRA,None,17.0,True,None
28,1900.0,Summer,Tennis,"Doubles, Men (Olympic)",Guy de la Chapelle,10,FRA,André Prévost,3.0,True,Bronze
29,1900.0,Summer,Tennis,"Singles, Handicap, Men (Olympic (non-medal))",Guy de la Chapelle,10,FRA,None,5.0,True,None

In [22]:
combined_df = pd.merge(results, bios, on='athlete_id', how='left')

In [23]:
combined_df.tail()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
308403,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,None,26.0,False,None,Marián Skupek,2001-07-12,Gelnica,Košice,SVK,Slovakia,196.0,108.0,NaN
308404,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,None,28.0,False,None,Elsa Fermbäck,1998-03-28,Vemdalen,Jämtland,SWE,Sweden,NaN,NaN,NaN
308405,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,None,Hilma Lövblom,2000-08-16,Täby,Stockholm,SWE,Sweden,NaN,NaN,NaN
308406,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,None,NaN,False,None,Hilma Lövblom,2000-08-16,Täby,Stockholm,SWE,Sweden,NaN,NaN,NaN
308407,2022.0,Winter,None,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,None,None,24.0,False,None,Charlotta Säfvenberg,1994-10-07,Kungsbacka,Halland,SWE,Sweden,NaN,NaN,NaN

In [24]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308408 entries, 0 to 308407
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          305807 non-null  float64
 1   type          305807 non-null  object
 2   discipline    308407 non-null  object
 3   event         308408 non-null  object
 4   as            308408 non-null  object
 5   athlete_id    308408 non-null  int64
 6   noc           308407 non-null  object
 7   team          121714 non-null  object
 8   place         283193 non-null  float64
 9   tied          308408 non-null  bool
 10  medal         44139 non-null   object
 11  name          308408 non-null  object
 12  born_date     305692 non-null  object
 13  born_city     246890 non-null  object
 14  born_region   246890 non-null  object
 15  born_country  246890 non-null  object
 16  NOC           308408 non-null  object
 17  height_cm     236910 non-null  float64
 18  weight_kg     227290 non-null  float64
 19  died_date     73521 non-null   object
dtypes: bool(1), float64(4), int64(1), object(14)
memory usage: 45.0+ MB